@charset "UTF-8";

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

.forms {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
    margin: 2% 5%;
}

.formCategory {
    border-radius: 5px;
    display: inline;
    margin: 0 32px;
    width: 100%;
    background-color: #72B3F5;
}

.formSearch {
    border-radius: 5px;
    margin: 32px 32px 0 32px;
    width: 100%;
    height: 180px;
    background-color: #72B3F5;
    flex-direction: row;
}

#site-search {
    width: 90%;
    margin: 0 10px;
    height: 38px;
    border-radius: 5px;
    padding: 0 16px;
}

.search-items {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.select-dropdown-container {
    width: 100%;
    margin: 0 10px;
    height: 0px;
}

.select-options-wrapper {
    border-radius: 5px;
    border: 1px solid gray;
}

.select-dropdown {
    display: none;
}

.select-option-text{
    padding-right: 5px;
    display: block;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    max-height: 2em;
    text-overflow: ellipsis;
    overflow: hidden;
}

.container-search {
    display: flex;
    flex-direction: row;
    width: auto;
    height: 38px;
    margin: 5%;
}

.option {
    opacity: 1;
    background-color: white;
    padding-left: 16px;
    font-family: Arial;
    font-size: 13.3333px;
    font-style: normal;
    font-weight: 400;
}

.option:hover {
    background-color: lightgray;
}

.select-options-wrapper::-webkit-scrollbar {
    width: 8px; /* width of the entire scrollbar */
}

.select-options-wrapper::-webkit-scrollbar-track {
    background: whitesmoke; /* color of the tracking area */
    border-radius: 0 5px 5px 0;
}

.select-options-wrapper::-webkit-scrollbar-thumb {
    background-color: gray; /* color of the scroll thumb */
    border-radius: 20px; /* roundness of the scroll thumb */
}

.list {
    border-radius: 5px;
    width: 30%;
    height: 770px;
    display: inline;
    margin: 2% 5%;
    background-color: #FFB4F4;
    padding-bottom: 10px;
}

.item {
    width: 90%;
    height: 4em;
    margin: 5px auto;
    display: flex;
    background-color: #72B3F5;
    border-radius: 3px;
}

.container-tools {
    display: flex;
}

.btn {
    cursor: pointer;
    text-align: center;
    align-self: center;
    margin: 20px;
    width: 60px;
    height: 20px;
    color: #180148;
    background-color: #FFB4F4;
    opacity: 1;
    box-shadow: 0 6px #A697FF;
    outline: none;
    border: none;
    border-radius: 75px;
}

.btn:hover {
    opacity: 0.7;
}

p {
    display: inline;
    margin: auto;
    vertical-align: baseline;
}

.container-btn {
    display: flex;
    margin: 10px;
}

.delete {
    margin: auto;
    vertical-align: baseline;
}

.quantity {
    float: right;
    width: 30px;
}

.product-label {
    width: 60%;
    display: block;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    max-height: 3em;
    text-overflow: ellipsis;
    overflow: hidden;
}

h1 {
    text-align: center;
    color: #180148;
    width: fit-content;
    margin: 20px auto;
}

.cell {
    display: flex;
    flex-direction: column;
    margin: 5%;
}

.submit {
    margin: 0 auto;
    background-color: #72B3F5;
    color: #180148;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.post {
    margin: 0 auto;
}

select {
    height: 38px;
    border-radius: 5px;
    padding: 0 16px;
}

button {
    font-family: "Roboto", sans-serif;
    font-size: medium;
    width: 90px !important;
    height: 40px !important;
}

@media screen and (max-width: 900px)
{
    .list
    {
        display: none;
    }

    .forms
    {
        width: 100%;
    }
}