@charset "UTF-8";

body {
  font-weight: 400;  
  box-sizing: border-box;
}
  
.presentation + .average {
  background-color: #64b5f6;
  text-align: center;
}

.cards__products {
  background-color: #FFB4F4;
  border-radius: 5px;
  width: fit-content;
  padding: 2rem;
  margin: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
}

.card {
  line-height: 1.7;
  perspective: 150rem;
  position: relative;
  height: 20rem;
  width: 22rem;
  margin: 0.5rem;
}

.card__side {
  height: 20rem;
  transition: all 0.8s ease;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  backface-visibility: hidden;
  border-radius: 3px;
  overflow: hidden;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
}

.card__side--front {
  background-color: #fff;
}

.card__side--front-1 {
  background: linear-gradient(-45deg, #f403d1, #64b5f6);
}

.card__side--back {
  transform: rotateY(180deg);
}

.card__side--back-1 {
  background: linear-gradient(-45deg, #64b5f6, #f403d1);
}

.card:hover .card__side--front-1 {
  transform: rotateY(-180deg);
}

.card:hover .card__side--back {
  transform: rotateY(0);
}

.card__title {
  padding: 2rem 2rem 0rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card__heading {
  font-size: 1.5rem;
  font-weight: 300;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
}

.card__product__name {
  font-size: 1rem;
  font-weight: 300;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  width: 75%;
  margin: auto;
}

.card__details {
  padding: 0 2rem 2rem;
}

.card__details ul {
  list-style: none;
  width: 80%;
  margin: 0 auto;
}

.card__details ul li {
  text-align: center;
  font-size: 1rem;
  padding: 0.5rem;
}

.card__details ul li:not(:last-child) {
  border-bottom: 1px solid #eee;
}

.card__cta {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  text-align: center;
}

.image-nutri-score {
  width: 60%;
  height: 60%;
  object-fit: cover;
}